<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="t05.app.listener.DealListener"/>
    <bean id="deal" class="t05.app.impl.FutureDeal"/>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="basenames">
            <list>
                <value>t05.message</value>
            </list>
        </property>
    </bean>
</beans>